# Use Bi-weekly numpy/scipy dev builds
--extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple
numpy>=0.0.dev0
scipy>=0.0.dev0

# Other important upstream packages
git+https://github.com/spacetelescope/gwcs
git+https://github.com/spacetelescope/stpipe
git+https://github.com/spacetelescope/crds
git+https://github.com/spacetelescope/stcal
git+https://github.com/astropy/photutils.git
