name: CI

on:
  push:
    branches:
      - master
      - '*.x'
    tags:
      - "*"
  pull_request:
  schedule:
    - cron: '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      envs: |
        - linux: check-style
        - linux: check-security
        - linux: check-build
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      envs: |
        - macos: py310-numpy121-xdist
        - linux: py310-numpy125-xdist
        - linux: py311-xdist
          pytest-results-summary: true
        - macos: py311-xdist
          pytest-results-summary: true
        - windows: py311-xdist
          pytest-results-summary: true
        - linux: py311-pyargs-xdist
        - macos: py312-xdist
          pytest-results-summary: true
        - linux: py312-numpy21-xdist
          pytest-results-summary: true
        - linux: py313-cov-xdist
          coverage: codecov
          pytest-results-summary: true
        - macos: py313-xdist
          pytest-results-summary: true
        - windows: py313-xdist
          pytest-results-summary: true
        - linux: py313-numpy22-xdist
          pytest-results-summary: true
        - macos: py313-numpy22-xdist
          pytest-results-summary: true
        - windows: py313-numpy22-xdist
          pytest-results-summary: true
        - linux: py314-xdist
        - macos: py314-xdist
        - windows: py314-xdist
        - linux: py314-dev-xdist
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
